
@{
    ViewBag.Title = "Check";
}

<h2>How to check a document?</h2>

<div class="row">
    <div class="col-md-6">
        <h3>Search using the reference collection</h3>
        <p>
            Upload a document, select the search algorithm(s) and initiate the search using the entire reference collection.
        </p>
        <a class="btn btn-default" href="/Check/WithReferences">Reference search</a>
    </div>
    <div class="col-md-6">
        <h3>Cross search</h3>
        <p>
            Upload two or more documents, select the search algorithm(s) and initiate the search using only the uploaded documents.
        </p>
        <img alt="Under construction" src="~/Content/construction.jpeg" width="100" height="100" />
        @*<a class="btn btn-default" href="/Check/Cross">Cross search</a>*@
    </div>
</div>