@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>Deplagiator</h1>
    <p class="lead">Deplagiator is a tool for finding plagiarism in text documents.</p>
</div>

<div class="row">
    <div class="col-md-4">
        <h2>How it works</h2>
        <p>
            You upload the document you wish to check and select the algorithms you wish to check with.
            Deplagiator then compares your document with the reference collection, collects the results
            and reports back to you.
        </p>
    </div>
    <div class="col-md-4">
        <h2>Reference documents</h2>
        <p>
            Deplagiator needs something to compare your document with. Therefore, you should first upload
            some reference works for which you can claim are authentic. You may also create a batch search 
            between multiple suspicious documents, decide if they are authentic, add them to references and 
            use them for later searches.
        </p>
    </div>
    <div class="col-md-4">
        <h2>Analyze</h2>
        <p>
            Once you're done checking a document, you can analyze it together with the author and in case the search 
            is positive, showcase the results.
        </p>
    </div>
</div>